.wrap-inputs {
  width: 100%;
}
.from-input {
  width: 90%;
  height: 40px;
  margin: 0 auto;
  margin-top: 20px;
}
.label {
  color: #fff;
  z-index: 1;
  position: absolute;
  pointer-events: none;
  left: 10%;
  transition: 0.5s;
}
.input {
  width: 100%;
  height: 100%;
  color: #fff;
  font-weight: 400;
  outline: none;
  background-color: transparent;
  border-bottom: 1px solid #fff;
}
.input:focus ~ label {
  margin-top: -15px;
}
