.main-top h2 {
  color: rgb(8, 76, 204);
  font-size: 33px;
  text-align: center;
  letter-spacing: 1px;
  line-height: 1.6;
  font-weight: 700;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.main-heading-line {
  width: 100%;
  max-width: 120px;
  height: 4px;
  background-color: #ffcf2d;
  margin: 10px auto;
}
.main-wrap {
  display: flex;
  width: 100%;
  height: 100%;
}
.main-wrap-left {
  width: 50%;
  margin: 10px 0;
}
.main-wrap-left img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}
.main-top-right {
  padding-left: 10px;
  width: 50%;
  margin: 10px 0;
}
.main-top-right h3 {
  color: rgb(8, 76, 204);
  font-size: 24px;
  margin-bottom: 10px;
  letter-spacing: 1px;
  line-height: 1.6;
  font-weight: 700;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.main-top-list {
  display: flex;
}
p {
  letter-spacing: 1px;
  line-height: 1.6;
  font-size: 14px;
  font-weight: 400;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.right-heading {
  width: 100%;
  display: flex;
}
/* /////////// */
.main-warp {
  width: 100%;
  margin: 20px 0;
  border-radius: 10px;
}
.main-wrap-col {
  display: flex;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  border: 1px solid #eae7e7;
}
.main-heading-col::after{
  content: "";
  position: absolute;
  height: 100%;
  padding: 0 5px;
  left: -10px;
  background-color: #ffcf2d;
  z-index: 1;
  top: 0;
}
.wrap-colum{
  width: 100%;
  max-width: 280px;
  position: relative;
  text-align: center;
  background-color: antiquewhite;
}
.wrap-col-name::after{
  content: "";
  position: absolute;
  height: 100%;
  padding: 0 5px;
  left: -10px;
  background-color: #ffcf2d;
  z-index: 1;
  top: 0;
}
.main-heading{
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
  background-color: antiquewhite;
}

.wrap-col-name{
  color: rgb(8, 76, 204);
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 1.6;
  font-weight: 700;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.wrap-col-btn{
  width: 90%;
  margin: 20px auto;
  height: 50px;
  line-height: 50px;
  border-radius: 10px;
  text-align: center;
  background-color: rgb(8, 76, 204);
  cursor: pointer;
}
.wrap-col-btn:hover{
  background-color: rgb(9, 85, 226);
}
.wrap-col-btn a{
  display: block;
  color: #fff;
  font-weight: 700;
}
.slick-dots{
  position: relative;
}
.slick-dots li{
  width: 50px;
  height: 60px;
  margin: 0 10px;
  padding: 0;
  cursor: pointer;
}