
.from-login {
  width: 100%;
  max-width: 400px;
  height: 400px;
  position: absolute;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  right: 0;
  padding: 10px 0;
  color: #fff;
  border-radius: 10px;
  margin: auto auto;
}

.button-login {
  width: 90%;
  height: 50px;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  margin: 40px auto;
  border-radius: 14px;
  text-align: center;
  line-height: 50px;
}
.btn-login {
  color: #000;
  width: 100%;
  height: 100%;
}
